:root {
    --primary-color: #ffffff;
    --secondary-color: #ff0606;
    --font-family: Arial, sans-serif;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    color: #000000;
    padding: 20px;
    text-align: center;
}
nav {
    background-color:var(--secondary-color);
    padding: 10px;
}
nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
}
main {
    padding: 20px;
}
footer {
    background-color:var(--secondary-color);
    color: #fff;
    padding: 10px;
    text-align: center;
}
header img {
    width: 200px;
    height: 100px;
    margin: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
}
#voitures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  #voitures img {
    width: 25%; 
    margin: 10px; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
  }
  
  #voitures img:hover {
    transform: scale(1.0); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  #voitures nav {
    background-color:var(--primary-color);
    padding: 10px;
}