:root {
    --primary-color: #ffffff;
    --secondary-color: #ff0606;
    --font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    color: #000000;
    padding: 20px;
    text-align: center;
}
  
header img {
  width: 200px;
  height: 100px;
  margin: 20px;
  position: absolute;
  top: 10px;
  left: 20px;
}
  
  header h1 {
    font-size: 24px;
    text-align: center;
  }
  
  #voiture-info {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    word-break: break-all;
    letter-spacing: 2px;
    word-spacing: 10px;
  }
  #voiture-info button {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    width: calc(33.33% - 20px);
  }
  #voiture-info button img {
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 5px 5px 0 0; 
  }
  
  #voiture-info button:hover {
    background-color: var(--primary-color);
    color: #000000;
  }
  @media (max-width: 600px) {
    #voiture-info button {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 400px) {
    #voiture-info button {
      width: 100%;
    }
  }